<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-secondary mb-2" %> 
  <%= link_to "Back to friends", friends_path, class: "btn btn-dark mb-2" %>  
  <%= button_to "Delete this friend", @friend, class:"btn btn-danger",  method: :delete %>
</div>
